<h1>New Student</h1>

<div>
  <%= form_for @student do |f| %>
    <p><%= f.label :name %><br>
    <%= f.text_field :name %></p>

    <p><%= f.label :username %><br>
    <%= f.text_field :username %></p>

    <p><%= f.label :select_a_school %><br>
    <%= f.collection_select(:school_id, School.all, :id, :name) %></p>
    
    <p><%= f.label :grade %><br>
    <%= f.number_field :grade %></p>

    <p><%= f.label :select_subjects %><br>
    <%= f.collection_check_boxes(:subject_ids, Subject.all, :id, :name) %></p>

    <%= f.submit %>
  <% end %>
</div>