<h1>Create an Account to Tutor a Student</h1>

<div>
  <%= form_for @tutor do |f| %>
    <p><%= f.label "Name: " %><br>
    <%= f.text_field :name %></p>
   
    <p><%= f.label "Enter a username: " %><br>
    <%= f.text_field :username %></p>
   
    <p><%= f.label "Select a school to volunteer at: " %><br>
    <%= f.collection_select(:school_id, School.all, :id, :name) %></p>

    <p>
      <%= f.label "Bio: " %>
      <%= f.text_area :bio %>
    </p>

    <%= f.submit %>
  <% end %>
</div>