<h1><%= @tutor.name %></h1>

<div>School: <%= link_to @tutor.school.name, school_path(@tutor.school) if @tutor.school %></div>
<div>Bio: <%= @tutor.bio %></div>
<div>
  My Appointments:
  <ul>
    <% @tutor.appointments.sort_by(&:time).each do |appt| %>
      <li><%= appt.time.strftime("%m/%d/%Y at %I:%M%p") %>, with <%= link_to appt.student.name, student_path(appt.student) %>, for <%= link_to appt.subject.name, subject_path(appt.subject) %></li>
    <% end %>
  </ul>
</div>

<div><h3><%= button_to "Logout", sessions_tutor_path, method: :delete %></h3></div>