<!DOCTYPE html>
<html>
  <head>
    <title>VolunteerAtASchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div><%= link_to 'Students', students_path %> | <%= link_to 'Tutors', tutors_path %> | <%= link_to 'Schools', schools_path %> | <%= link_to 'Subjects', subjects_path %> | <%= link_to 'New Appointment', new_appointment_path %></div>

    <%= yield %>

  </body>
</html>
